[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Docs
Exec=google-chrome https://docs.google.com/document/u/0/
Icon=/home/nikolai/Pictures/Icons/Google_Docs.png